{
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "no-plusplus": "off",
    "vue/multi-word-component-names": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "quote-props": ["error", "consistent-as-needed"],
    "linebreak-style": "off",
    "object-curly-newline":  "off",
    "max-len": ["error", {
      "code": 120,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }],
    "vuejs-accessibility/mouse-events-have-key-events": "off",
    "vuejs-accessibility/media-has-caption": "off"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/essential",
    "plugin:vue/vue3-recommended",
    "plugin:nuxt/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "nuxt": {
        "extensions": [".js", ".ts", ".vue"]
      }
    }
  }
}
